    
 .stats{
    overflow: hidden;
    background: url(../images/b7.jpg);
    background-image: 100%;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 3em 0;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 100px;
  
 }
  .stats h1{
  	margin-bottom: 50px;
  }

.stats li:nth-child(3) h2{position: relative;}
.stats li:nth-child(3) h2:after{
    position: absolute;
    content: "+";
    top: 0px; 
  }
 .stats li p{font-size: 18px;color: #fff} 


 